*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* min-width: 100vw; */
    /* min-width: 420px; */
}
.b{
    width: 100%;
    /* width: 100vw; */
    min-width: 15rem;
    height: 15rem;
}
.b1{
    background-color: #002768;
}
.b2{
    background-color:#004bce ;
}
.b3{
    background-color:#a1c4f8 ;
}
.b4{
    background-color: #cad4ee;
    height: auto;
}
.b5{
    background-color:#f3f6fd ;
}
.b6{
    background-color:lightgoldenrodyellow ;
}
.b7{
    background-color:lightgreen;
}
.b8{
    background-color:lightpink;
}
.b9{
    /* background-color:lightsalmon; */
    height: auto;
}



/* ----------------------------------- media queries */

@media (min-width:600px){
    .b1{
        width: 25%;
        height: auto;
    }
    .b4{
        width: 75%;
    }
    .b5{
        width: 100%;
    }
    .b9{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .b6,.b7,.b8{
        width: 1fr;
    }
}
@media (min-width:800px){
    .container{
        width: 800px;
    }
    .b4{
        width: 100%;
    }
    .b1{
        width: 50%;
        order: 1;
    }
    .b5{
        width: 50%;
        order: 2;
    }
    .b9{
        order: 3;
    }
}