*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color:lightyellow;
}
.header{
    color: white;
    background-color: mediumpurple;
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}
.header .nav .nav__ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30.0rem;
}
.header .nav .nav__ul li a{
    color: white;
    text-decoration: none;
}
