*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: monospace;
}
header{
    background-color: #003476;
    height: 15vh;
    width: 100vw;
}
h1{
    font-size: 4.0rem;
}
main{
    background-color: #fafafa;
    height: 75vh;
    width: 100vw;
}

footer{
    background-color: #b4d2f7;
    height: 10vh;
    width: 100vw;
}